body{
background-color: rgb(80, 176, 255);
font: normal 15pt arial;

}
header{
color: white;
text-align: center;
}
section{
background-color: #fff;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px black;
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}